.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
001/001_cache/
014/014_cache/
005/005_cache/

001/.idea/
014/.idea/
005/.idea/

.idea

obj
bin

# Default ignored files
/shelf/
/workspace.xml

# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Inference.iml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml